

body{
	font-family: 'Inter', sans-serif;
}

.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	background-color: #111111;
	box-shadow: 5px 10px 20px #000;
}

label{
	color: #fff;
	font-size: 2.3em;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	background: #e0dede;
	outline: none;
}

button{
	background: #e0dede;
	transition: .2s ease-in;
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label{
	color: #111111;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
